.our-friends {
  background: #f6f6f6;
}

.our-friends__container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 52px;
  align-items: center;
}
.our-friends__container .our-friends_icon-arrow {
  cursor: pointer;
  display: inline-flex;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  padding: 18px;
  height: 53px;
  width: 53px;
  text-align: start;
  align-items: center;
  transition: 0.4s ease-in-out;
}
.our-friends__container .our-friends_icon-arrow:hover {
  background: #fddcc4;
  border-color: #fddcc4;
}
.our-friends__container .arrow-left {
  position: absolute;
  top: 194px;
  left: 0;
}
.our-friends__container .arrow-right {
  position: absolute;
  top: 194px;
  right: 0;
}

.our-friends__wrapper {
  text-align: center;
  padding-top: 78px;
  padding-bottom: 110px;
}
.our-friends__wrapper h2 {
  margin: 0 auto;
  font-family: Georgia, sans-serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  max-width: 400px;
  color: #545454;
  margin-bottom: 60px;
}
.our-friends__wrapper a {
  cursor: pointer;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
  padding: 15px 45px;
  font-family: Georgia, sans-serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #4c4c4c;
  transition: 0.4s;
}
.our-friends__wrapper a:hover {
  background: #fddcc4;
}

.pet_card_container {
  display: flex;
  justify-content: center;
  gap: 90px;
}
.pet_card_container .our-friends__pets__item {
  cursor: pointer;
}
.pet_card_container div {
  background: #fafafa;
  transition: 0.4s ease-in-out;
}
.pet_card_container div:hover {
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.pet_card_container div p {
  font-family: Georgia, sans-serif;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 25px;
  margin-bottom: 32px;
}
.pet_card_container button {
  margin-left: 15%;
  cursor: pointer;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  background: #fafafa;
  font-family: Georgia, sans-serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 14px 45px;
  margin-bottom: 25px;
  transition: 0.5s ease-in-out;
}
.pet_card_container button:hover {
  background: #fddcc4;
  border-color: #fddcc4;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}
.popup.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}
.popup .popup__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fafafa;
  border-radius: 9px;
  width: 900px;
  height: 500px;
  display: flex;
  gap: 30px;
  transition: 0.5s all;
}
.popup .popup__container.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}
.popup .popup__container .popup__container__img .popup-img {
  width: 500px;
}
.popup .popup__container .popup__container__text {
  font-family: Georgia, sans-serif;
  color: black;
  text-align: start;
  letter-spacing: 0.06em;
  width: 350px;
  margin-top: 50px;
}
.popup .popup__container .popup__container__text .close__popup {
  font-size: 25px;
}
.popup .popup__container .popup__container__text .popup__container__text__name {
  font-size: 35px;
  line-height: 45.5px;
  margin-bottom: 0px;
}
.popup
  .popup__container
  .popup__container__text
  .popup__container__text__type-breed {
  font-size: 20px;
  line-height: 23px;
  color: black;
  margin-top: 10px;
}
.popup
  .popup__container
  .popup__container__text
  .popup__container__text__description {
  font-size: 15px;
  line-height: 16.5px;
  margin-top: 40px;
}
.popup .popup__container .popup__container__text .popup__container__text__ul {
  margin-top: 38px;
  padding-left: 14px;
  line-height: 28px;
}
.popup
  .popup__container
  .popup__container__text
  .popup__container__text__ul
  li {
  color: #fddcc4;
}
.popup
  .popup__container
  .popup__container__text
  .popup__container__text__ul
  li
  .popup__span-bold {
  font-weight: bold;
  color: black;
}
.popup
  .popup__container
  .popup__container__text
  .popup__container__text__ul
  li
  .char {
  color: black;
}

.close__popup {
  position: absolute;
  top: -50px;
  right: -40px;
  color: #292929;
  background: none;
  border: 2px solid #fddcc4;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.5s all;
}
.close__popup:hover {
  background: #fddcc4;
}
